.services {
    margin-top: 2rem
}

.service-content {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.services-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-top p  {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.service-left p {
    font-size: 1.2rem;
    color: var(--paragraph-color);
    margin-bottom: .8rem;
}

.service-left img {
    width: 35vw;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.service-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.service-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:  rgba(43, 43, 60, 0.3);
    padding: 1.3rem 1rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: .4s;
}

.service-items:hover {
    cursor: pointer;
    background: var(--linear-grad);
}

.service-items img {
    width: 3.5vw;
    margin-bottom: 1rem;
}

.service-items h3 {
    letter-spacing: .5px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.service-items p {
    color: var(--paragraph-color);
    letter-spacing: .5px;
    font-size: 1.2rem;
    line-height: 1.3;
}

.service-items:hover h3 {
    color: #fff;
}
.service-items:hover p {
    color: #000;
}

/* SERVICES SECTION BREAKPOINTS */
@media (max-width: 835px) {
    .service-content {
        flex-direction: column;
        gap: 2rem;
    }

    .service-left p {
        font-size: 1.6rem;
    }

    .service-left {
        width: 100%;
        margin-top: 1rem;
    }

    .service-items img {
        width: 5vw;
    }

    .service-items h3 {
        font-size: 2rem;
    }

    .service-items p {
        font-size: 1.6rem;
    }
}

@media (max-width: 768px) {

    .services-top {
        margin-top: 1rem;
    }

    .services-top p {
        font-size: 1.5rem;
    }

    .service-items {
        padding: 1.7rem 1rem;
    }
    
    .service-items img {
        width: 3.8vw;
    }

}

@media (max-width: 500px) {
    .service-content .service-left {
        width: 100%;
    }

    .service-left img {
        width: 100%;
    }

    .services-top p  {
        font-size: 1.2rem;
    }
}

@media (max-width: 480px) {
    .service-content .service-left {
        width: 100%;
    }

    .service-left img {
        width: 100%;
    }

    .services-top p  {
        font-size: 1.2rem;
    }

    .service-right {
        display: flex;
        flex-direction: column;
    }

    .service-left p {
        font-size: 1.2rem;
    }

    .service-items h3 {
        font-size: 1.7rem;
    }

    .service-items {
        padding: 2.3rem 1rem;
        margin: 0 2rem;
    }

    
    .service-items img {
        width: 7vw;
        margin-bottom: 1rem;
    }

}

@media (max-width: 330px) {
    .service-items {
        margin: 0;
    }

    .services-top p  {
        font-size: .9rem;
    }

    .service-items p {
        font-size: 1rem;
    }
}