.projects {
    margin-bottom: 4rem;
}

.projects-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.projects-top p  {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.projects-container {
    min-height: 100vh;
    margin-top: 2rem;
    width: 100%;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    width: 100%;
} 

.projects .quote {
    text-align: center;
    font-size: 1.3rem;
    color: var(--paragraph-color);
    background: var(--bg-color);
    width: fit-content;
    filter: blur(2px);
    margin: auto;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: 4s;
}

.projects .quote:hover {
    filter: blur(0);
    transition: .7s;
    cursor: pointer;
    color: #fff;
}

.projects .quote span {
    margin-left: 1rem;
}

.projects-items img {
    width: 25vw;
    border-radius: 15px;
    transition: .4s ease-in; 
    filter:grayscale(100%);
    object-fit: cover;
}

.projects-items {
    background-color:  rgba(43, 43, 60, 0.3);
    backdrop-filter: 10px;
    padding: 2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}


.projects-items:hover img {
    transform: scale(1.05);
    filter:grayscale(0%);
}

.project-sub-content {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    background: linear-gradient(rgba(43, 43, 60, 0.3), rgba(43, 43, 60, 0.01));
    backdrop-filter: 10px;
    border-radius: 15px;
    position: relative;
}

.project-sub-content p {
    font-size: 1.3rem;
    letter-spacing: .5px;
    margin-bottom: .8rem;
    text-align: center;
}

.project-sub-content .tools {
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.5);
}

.project-sub-content button {
    background: var(--bg-color2);
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    transition: .3s;
}

.project-sub-content button:hover {
    background: var(--linear-grad2);
}

.project-sub-content button a {
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.project-btns {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

.project-sub-content button:hover a {
    color: inherit;
}

.project-sub-content button .expand-icon {
    font-size: 1.1rem;
}

.project-sub-content .details {
    padding: 2rem;
    background: rgba(192, 192, 192, 0.7);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    position: absolute;
    bottom: -1rem;
    right: 2rem;
}

.project-sub-content .sub-details {
    display: flex;
    gap: 1rem;
}

/* PROJECTS SECTION BREAKPOINTS */
@media (max-width: 835px) {
    .projects-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    } 

    .projects-items img {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .projects .quote {
        padding: 5px;
        font-size: 1.1rem;
    }

    .projects-content {
        margin: 0 2rem;
    }
}

@media (max-width: 480px) {
    .projects .quote {
        padding: 5px;
        font-size: 1.1rem;
    }

    .projects-content {
        display: flex;
        flex-direction: column;
    }

    .projects-top p {
        font-size: 1.2rem;
    }
}