.hero {
    position: relative;
    overflow: hidden;
}

.hero h1 {
    font-size: 6rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
}

.hero h2 {
    font-size: 5rem;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9)
}

.hero .hero-info .linear-grad-text {
    background: var(--linear-grad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.hero .hero-info h1 .emoji {
    font-size: 5rem;
    animation: wave all 2s;
}


@keyframes wave {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.hero-left h3 {
    font-size: 4rem;
    text-transform: uppercase;
}

.hero-left h3 span {
    background: var(--linear-grad3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 4px rgba(0,0,0,0.3);
}

.hero-left p {
    font-size: var(--font-size-medium);
    letter-spacing: 1.3px;
    line-height: 1.5;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.6)
}

.hero-left .btn-to-about {
    letter-spacing: .5px;
    margin-top: 2rem;
}

.hero-left .btns {
    display: flex;
    gap: 1.3rem;
}

.hero-left img {
    width: 35vw;
    position: absolute;
    top: 22%;
    right:0;
    opacity: .3;
}


/* HERO MEDIA QUERRIES */
@media (min-width: 884px) {
    .hero-left .earth {
        width: 45px;
        height: 45px;
    }
}

@media (max-width: 885px) {
    .hero h1 {
        font-size: 5rem;
    }

    .hero h3 {
        font-size: 3.5rem;
    }

    .hero-left img {
        width: 50vw;
        top:  44%;
        z-index: -1;
    }

    .hero-left .earth {
        width: 45px;
        height: 45px;
    }

    .hero-left p {
        font-size: 1.6rem;
    }

    .hero-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
}
@media (max-width: 768px) {
    .hero h1 {
        font-size: 4rem;
    }

    .hero h3 {
        font-size: 3.5rem;
    }

    .hero-left img {
        width: 50vw;
        top:  44%;
        z-index: -1;
    }

    .hero-left p {
        font-size: 1.5rem;
    }

    .hero-left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        text-align: center;
    }
}

@media (max-width: 710px) {
    .hero h1 {
        font-size: 3rem;
    }

    .hero h3 {
        font-size: 3rem;
    }

    .hero-left .earth {
        width: 30px;
        height:30px;
    }
}

@media (max-width: 589px) {
    .hero h1 {
        font-size: 2.6rem;
        text-align: center; 
    }

    .hero h2 {
        font-size: 2.5rem;
        text-align: center; 
    }

    .hero .hero-info h1 .emoji {
        font-size: 2.3rem;
    }

}

@media (max-width: 446px) {
    .hero h1 {
        font-size: 2.5rem;
    }

    .hero h3 {
        font-size: 2rem;
    }

    .hero-left .earth {
        width: 27px;
        height:27px;
        margin-bottom: 3px;
    }

    .header {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }

    .hero-left .my-name {
        flex-direction: column;
    }

    .hero-left .my-name h1 {
        font-size: 3rem;
    }

}

@media (max-width: 425px) {
    .hero h1 {
        font-size: 2.3rem;
    }

    .hero h3 {
        font-size: 1.7rem;
    }
}

@media (max-width: 399px) {
    .hero h1 {
        font-size: 2.2rem;
    }

    .hero h3 {
        font-size: 1.7rem;
    }

    .hero-left p {
        font-size: 1.2rem;
    }

    .hero-left img {
        top: 48%;
        right: 20%;
    }

}

@media (max-width: 386px) {
    .hero h1 {
        font-size: 2rem;
    }

    .hero h3 {
        font-size: 1.5rem;
    }
}

@media (max-width: 361px) {
    .hero h1 {
        font-size: 1.6rem;
    }
}

@media (max-width: 330px) {
    .hero h1 {
        font-size: 1.8rem;
    }

    .hero h3 {
        font-size: 1.5rem;
    }

    .hero-left p {
        font-size: 1.2rem;
    }

    .hero-left img {
        top: 48%;
        right: 20%;
    }

}

@media (max-width: 329px) {
    .hero h1 {
        font-size: 1.5rem;
    }

    .hero h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 290px) {
    .hero h1 {
        font-size: 1.1rem;
    }

    .hero h3 {
        font-size: 0.9rem;
    }

    .hero-left p {
        font-size: .7rem;
    }
}